PORT=2000
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@saksham.eo1abcr.mongodb.net/?appName=saksham
CORS_ORIGIN=unknown
ACCESS_TOKEN_SECRET=CHAIAURCODE
ACCESS_TOKEN_EXPIRY=D
REFRESH_TOKEN_SECRET=CHAIAURDUNIYA
REFRESH_TOKEN_EXPIRY=d
CLOUDINARY_CLOUD_NAME=chaikacode
CLOUDINARY_API_KEY=kaka
CLOUDINARY_API_SECRET=sakshamg